@import url(_variables.scss);
@import url(_header.scss);
@import url(_footer.scss);
// ===== Estilos Globales =====
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main, header, footer, head {
  background-color: $color-fondo;
}
section {
    background-color: $color-fondo;
}

h1, h2 {
  color: $color-texto;
  text-align: center;
}

h3, h4 {
  color: $color-texto-sec;
  text-align: center;
  font-size: large;
}

.padding-box {
  width: 1600px;
  height: 1600px;
  background-color: $color-fondo;
  padding: 20px;
}

.caja {
  width: 50%;
  height: 50vh;
  background-color: aliceblue;
  border: 2px solid #443B10;
  text-align: center;
}

.fondoNav { background-color: $color-secundario; }

.botonbusqueda {
  background-color: $color-acento;
  color: $color-acento;
}

// ===== Mixins =====
@mixin boton-estilo($color-fondo: #cfcecd, $ancho: 20%) {
  width: $ancho;
  margin: 5px;
  background-color: $color-fondo;
  border-radius: 3px;
  border: solid 2px;
}
.bg-custom {
  background-color: #754D1F;
}
