* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #754D1F;
}

h1{
    color: #161310;
    text-align: center;
    
}
h2{
    color: #161310;
    text-align: center; 
}
h3{
    color: #25120A;
    text-align: center;
    font-size: large;
}
h4{
    color: #25120A;
    text-align: center;
    font-size: large;

}
.padding-box {
    width: 1600px;
    height: 1600px;
    background-color: lightgray;
    padding: 20px;
}
.caja {
    width: 50%;
    height: 50vh;
    background-color: aliceblue;
    border: 2px solid #443B10;
    text-align: center;

}
.fondoNav{
     background-color: #825C24;
}
.botonbusqueda{
    background-color:#caae22 ;
    color: #caae22;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.navbar li{
    margin: 0 15px;
}
.navbar a{
    text-decoration: none;
    padding: 15px 20px; /*  le estoy colocando relleno */
    display: block;
}
.menu-inicio {
    color: #A9921F;
    text-align: center;


}

header{
    margin:0 15px 15px 0 ;
    padding: 15px;
    background-color: #754D1F;
}

img{
width: 100%;
}

.sectionbanerindex{
    padding: 10px;
}

article{
    width: 30%;
    padding: 10px;
    border: solid 3px #825C24;
    border-radius: 10px;
    margin: 10px;
}

footer{
    padding: 10px;
}


article button {
    width: 20%;
    margin: 5px;
    background-color: #cfcecd;
    border-radius: 3px;
    border: solid 2px;
}
.PadreCardsIndex {
    display: flex;
    justify-content: center;
}
footer img {
    width: 16px;
}
.icono {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

@media (max-width: 425px) {
    
    .navbar a{
    text-decoration: none;
    padding: 15px 20px; /*  le estoy colocando relleno */
    display: flex;
    align-items: center;}

    .PadreCardsIndex {
    flex-direction: column;
    align-items: center;
    
    article button {
    width: 70%;
    margin: 5px;
    background-color: #cfcecd;
    border-radius: 3px;
    border: solid 2px;
 }
 
}

}
main {
    background-color: #754D1F;
}

head {
    background-color: #754D1F;
}
footer {
    background-color: #754D1F;
}
section {
    background-color: #754D1F;
} 